html {
  font-size: 16px;
}

@media (max-width: 480px) {

  #menu-chk {
    display: none;
  }
  .menu-bars {
    color: white;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 50px;
  }
  .menu-icon {
    margin: 0 90%;
    margin-top: 10px;
  }
  .nav-list {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    background-color: black;
  }
    .nav-list li {
      /*color: white;*/
      font-size: 1.3rem;
      padding: 10px 0;
    }
    .menu-btns {
      padding: 10px 45%;
      text-decoration: none;
      color: white;
    }
  .show-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
  }
    .tvshow {
      margin: 10px 0;
      background-color: black;
      width: 210px;
    }
      .show-img {
        overflow: hidden;
      }
      .tvshow a {
        text-decoration: none;
        color: white;
      }
      .tvshow p {
        padding: 10px 0;
        margin: 0 0;
        text-align: center;
      }
}
