html {
  font-size: 16px;
  font-family: sans-serif;
}

@media (max-width: 480px) {

  /*HEADER STYLES*/
  #menu-chk {
    display: none;
  }
  #menu-lb {
    cursor: pointer;
  }
  .menu-bars {
    color: white;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 50px;
  }
  .menu-icon {
    margin: 0 90%;
    margin-top: 10px;
  }
  .nav-list {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    background-color: black;
  }
    .nav-list li {
      font-size: 1.3rem;
      padding: 10px 0;
    }
    .menu-btns {
      padding: 10px 45%;
      text-decoration: none;
      color: white;
    }

  /*TV SHOWS INDEX STYLES*/
  .show-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
  }
    .tvshow {
      margin: 10px 0;
      background-color: black;
      width: 210px;
      /*height: 350px;*/
    }
      .show-img {
        overflow: hidden;
      }
      .tvshow a {
        text-decoration: none;
        color: white;
      }
      .tvshow p {
        padding: 10px 0;
        margin: 0 0;
        text-align: center;
      }

  /*ABOUT STYLES*/
  .about-h2 {
    text-align: center;
    font-size: 2.2rem;
  }
  .about-p {
    margin: 5px 20px;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 30px;
  }
  .about-div {
    margin: 50px 0;
  }
  .about-links {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    width: 40%;
    margin: 25px auto;
    padding: 5px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    color: grey;
  }

  /*SHOW STYLES*/
  .show-img {
    display: block;
    margin: 25px auto;
  }
  .show-h2 {
    text-align: center;
    font-size: 2.3rem;
  }
  .show-summary {
    text-align: justify;
    margin: 0 20px;
    line-height: 30px;
    font-size: 1.1rem;
  }
  .show-cast {
    display: block;
    margin: 0 5px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
  }
  .show-h3 {
    font-size: 2rem;
    text-align: center;
  }
  .cast-actor {
    display: flex;
    flex-flow: row wrap;
  }
  .cast-member {
    margin: 0 10px;
  }
    .member-img {
      margin: 10px 0;
      width: 150px;
      height: auto;
    }
    .member-name {
      margin: auto 5px;
      color: black;
      text-decoration: none;
      flex: 0 40%;
      font-size: 1.2rem;
    }

  /*EPISODE STYLES*/
  .episode-name {
    text-align: center;
    font-size: 1.1rem;
  }
  .episode-number {
    text-align: center;
    font-size: 1rem;
  }
  .episode-aired {
    text-align: center;
  }
  .episode-img {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .episode-season {
    margin-left: 20px;
  }
  .episode-summary {
    text-align: justify;
    margin: 5px 10px;
    line-height: 25px;
  }
}
