<h3 class="show-h3">Episodes</h3>
<div class="show_episodes">
  <div class="show_episode" ng-repeat="episode in episodes | filter:bySeason">
    <p class="episode-name">{{ episode.name }}</p>
    <p class="episode-number">#{{ episode.number }}</p>
    <p class="episode-aired">Aired: {{ episode.airdate | date : 'longDate' }}</p>
    <img src="{{ episode.image.medium }}" alt="{{episode.name}}" class="episode-img" />
    <p class="episode-season">Season {{ episode.season }}</p>
    <p ng-bind-html="episode.summary" class="episode-summary"></p>
    <hr>
  </div>
</div>
