<div ng-controller="TvshowsCtrl" class="show-list">
	<div class="search-bar">
		<input ng-model="query" placeholder="Search for a TV show">
	</div>
	<div class="spinner" ng-hide="shows.$resolved">
		<i class="fa fa-refresh fa-spin fa-4x"></i>
	</div>
	<!-- <div ng-repeat="show in shows | filter:query | orderBy:orderProp"> -->
	<div class="tvshow" ng-repeat="show in shows | orderBy:'rating.average'">
    <a href="#/shows/{{show.id}}">
      <img src="{{ show.image.medium }}" alt="{{ show.name }}" class="show-img" />
  		<p>{{ show.name }}</p>
    </a>
	</div>
</div>
